version: "3.8"

services:
  server:
    build:
      context: .
      dockerfile: Dockerfile.dev

    container_name: safe-ai-server-dev

    ports:
      - "3001:3001"

    volumes:
      - .:/app
      - /app/node_modules

    environment:
      - NODE_ENV=development
      - OPENAI_API_KEY=${OPENAI_API_KEY}
    restart: unless-stopped